* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1a2a3a;
}
body {
  min-height: 100vh;
  background-image: url('../images/background.png');
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mode {
  padding: 1.2rem;
  font-size: 1.9rem;
  line-height: 1.9rem;
}
.menu > div {
  border: 1px solid #1a2a3a;
  width: 40%;
  float: left;
  margin: 1rem;
  padding: 0.2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.4rem;
}
.menu > div:hover {
  color: #eee;
  background-color:steelblue;
}
footer {
  background-color: #1a1a1a;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.4rem
}
footer span {
  color: #eee;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
